footer.footer
  .container.text-small.text-mute
    p Materialet och sidan är skapad av 
      a(href='https://github.com/jensnti/') Jens Andreasson
    p Koden finns på 
      a(href='https://github.com/jensnti/wsp1-node') GitHub
    p Om du finner något fel eller har synpunkter på materialet skapa gärna en 
      a(href='https://github.com/jensnti/wsp1-node/issues') Issue 
      | på GitHub