footer.footer
  .container
    a(href='#' title='Back to top')
      img.bubbles(src='/images/bubbles-v2.svg' alt='Bubbles floating to the surface')
      span.sr-only Back to top
    p.small.mute Materialet och sidan är skapad av 
      a.mute(href='https://github.com/jensnti/') Jens Andreasson
    p.small.mute Koden finns på
      a.mute(href='https://github.com/jensnti/wsp1-node') GitHub
    p.small.mute Om du finner något fel eller har synpunkter på materialet skapa gärna en 
      a.mute(href='https://github.com/jensnti/wsp1-node/issues') Issue 
      | på GitHub