mixin nav-link(href, name)
    if name === title
        a.nav-link.active(href=href)= name
    else
        a.nav-link(href=href)= name

nav.navbar
  a.brand(href="/")
    img(src='/images/nti_icon.svg' alt='NTI-logotyp')
  button.navbar-toggle
    img.navbar-toggle-icon(src='/images/menu-24px.svg' alt="Menyikon")
  .navbar-collapse
    ul.nav
      li.nav-item
        +nav-link('/', 'Hem')
      li.nav-item
        +nav-link('/users', 'Användare')