footer.footer
  .container
    p.small.mute Materialet och sidan är skapad av 
      a.mute(href='https://github.com/jensnti/') Jens Andreasson
    p.small.mute Find the code on 
      a.mute(href='https://github.com/jensnti/wsp1-node') Github 