footer.footer
  .container
    a(href='#' title='Back to top')
      img.bubbles(src='/images/bubbles.svg' alt='Bubbles floating to the surface')
      span.sr-only Back to top
    p.small.mute Materialet och sidan är skapad av 
      a.mute(href='https://github.com/jensnti/') Jens Andreasson
    p.small.mute Find the code on 
      a.mute(href='https://github.com/jensnti/wsp1-node') Github 