extends layout

block head
  -var title = "Hem"
  title Webbserverprogrammering - #{title}

block nav
  include components/nav.pug

block content
    main.pt-3
      .container
        h1.page-heading= title
        p.lead Välkommen! Det här är ett samlingsmaterial för att komma igång med Node och Express i kurserna webbutveckling och webbserverprogrammering. 
          | Materialet är stort och innehåller många steg, så det är viktigt att du tar dig tid till att arbeta
          | dig igenom det. Den här sidan tjänar som en introduktion och ett exempel.
        p.pt-1 Materialets fokus är Node och Express, men det omfattar mycket mer än så för att skapa stacken.
        ul.list.pt-1
          li 
            a(href='https://nodejs.org/') Node.js 
            | är en webbserver skriven i Chromes Javascript motor. 
          li
            a(href='https://expressjs.com/') Express 
            | är ett ramverk för kodandet av Node-applikationer.
        p.pt-1
          | Koden och instruktionerna till den här sidan finns på git, du hittar repot  
          a(href='https://github.com/jensnti/wsp1-node') här
          | .
        p.pt-1 Tillsammans med Express kommer du att få använda templat-motorn 
          a(href='https://pugjs.org/') Pug 
          | tillsammans med
          a(href='https://sass-lang.com/') Sass 
          | för att skapa front-end design och innehåll.
        p.pt-1 För att utöka funktionen och skapa en dynamisk webbplats kommer du få arbeta med databaser.
          | Databasen är MySQL som använder språket structured query language(SQL).

block footer
  include components/footer.pug