extends layout

block title
    title Home

block content
  main
    .container
      h1.page-heading= title
      p.lead Välkommen! Det här är ett samlingsmaterial för att komma igång med Node och Express. 
        | Materialet är stort och innehåller många steg, så det är viktigt att du tar dig tid till att arbeta
        | dig igenom det. Den här sidan tjänar som en introduktion och exempel.
      p Materialets fokus är Node och Express, men det omfattar mycket mer än så och vi kommer att använda 
        | många verktyg för att skapa stacken. 
        a(href='https://nodejs.org/') Node.js 
        | är en webbserver skriven i Chromes Javascript motor. 
        a(href='https://expressjs.com/') Express 
        | är ett ramverk som hjälper oss att komma igång med kodandet av Node-applikationer.
        | Koden och instruktionerna till detta finns på git, du hittar repot  
        a(href='https://github.com/jensnti/wsp1-node') här
        | .
      p Förutom att jobba med Node och express så kommer vi att titta på templat-motorn 
        a(href='https://pugjs.org/') pug 
        | som vi använder tillsammans med 
        a(href='https://sass-lang.com/') Sass 
        | för sidans front-end.
      p När vi skapat en förståelse för grunderna kommer vi att gå vidare och titta på hur vi kan lägga till 
        | databas med en object relations manager(ORM), som heter 
        a(href='https://sequelize.org/') Sequelize
        |. För databasen kommer vi att använda structured query language(SQL).
