doctype html
html.h-100(lang='sv')
  head
    block title
      title= Express
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='Description' content='Kursmaterial för Webbserverprogrammering 1.')
    meta(http-equiv='Content-Security-Policy', content="\
      default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; \
      style-src   'self' https://fonts.googleapis.com;\
      font-src    'self' data: https://fonts.gstatic.com;\
      img-src     'self' data: content:;\
      media-src   *;\
    ")
    link(href='https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora:ital@1&family=Montserrat:wght@400;600&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.h-100.d-flex
    block nav
      include nav.pug
    block content
    block footer
      include footer.pug
    script(src='/javascripts/main.js')
    
