nav.navbar
  a.brand(href="/")
    img(src='/images/nti_icon.svg')
  button.navbar-toggle
    img.navbar-toggle-icon(src='/images/menu-24px.svg')
  .navbar-collapse
    ul.nav
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/users') Users