extends layout

block head
  -var title = "Test"
  title Webbserverprogrammering - #{title}

block content
  main
    .container
      h1= title
      ul.list
        each row in result
          li= row.body