extends layout

block title
    title Users

block content
  main
    .container
      h1= title
      p.lead Här är ett exempel på iteration
      ul.list
        each user in users
          li= user