extends layout

block head
  -var title = "Anv채ndare"
  title Webbserverprogrammering - #{title}

block content
  main
    .container
      h1= title
      p.lead H채r 채r ett exempel p책 iteration
      ul.list
        each user in users
          li= user