body {
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #519e8b;
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaece9;
}

main .container {
  padding-top: 6rem;
}

a {
  color: #d0d4ce;
  text-decoration: none;
}
a:hover {
  color: #b7bcb3;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  color: #2e4c5c;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

p {
  margin-bottom: 1rem;
}

.h-100 {
  height: 100% !important;
}

.d-flex {
  display: flex;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(81, 158, 139, 0.95);
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 2rem;
}
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
.navbar-toggle {
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-toggle:focus {
  outline-style: none;
}
.navbar-toggle-icon {
  width: 48px;
  height: 48px;
}
.navbar-toggle-icon:hover {
  filter: brightness(0.8);
}
.navbar-collapse {
  display: block;
  flex-basis: 100%;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar-collapse {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
}
.nav-link {
  color: #2e4c5c;
}
@media (min-width: 768px) {
  .nav-link {
    padding-left: 0.5rem;
  }
}
.nav-link:hover {
  color: #1d303a;
}

.show {
  display: block !important;
}

.brand {
  height: 48px;
  padding-right: 0.5rem;
}
.brand:hover {
  filter: brightness(0.8);
}
.brand img {
  width: 48px;
  height: 48px;
}

.page-heading {
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .page-heading {
    padding-top: 2rem;
  }
}

.lead {
  font-size: 1.4rem;
  font-family: "Lora", serif;
}

.footer {
  margin-top: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(#519e8b, #2e4c5c);
}

.mute {
  color: rgba(149, 187, 157, 0.8);
}

.small {
  font-size: 1rem;
}

.invert {
  filter: invert(1);
}

.list {
  padding-left: 0;
  margin-bottom: 1.2rem;
}

.bubbles {
  height: 8rem;
  float: right;
  margin-top: -2rem;
}
@media (max-width: 768px) {
  .bubbles {
    height: 7rem;
    margin-top: -1rem;
  }
}

.bubbles:hover {
  filter: brightness(3.5) invert(0.3);
  opacity: 0.4;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*# sourceMappingURL=style.css.map */
