@use 'colors'
@use 'fonts'

@mixin small
  @media (min-width: 576px)
    @content

@mixin medium
  @media (min-width: 768px)
    @content

@mixin large
  @media (min-width: 992px)
    @content

@mixin x-large
  @media (min-width: 1200px)
    @content

@mixin small-max
  @media (max-width: 576px)
    @content

@mixin medium-max
  @media (max-width: 768px)
    @content

body
  flex-direction: column
  flex-wrap: nowrap
  background-color: colors.$color3
  font-family: fonts.$body
  font-size: 1.2rem
  line-height: 1.5
  color: scale-color(colors.$color1, $lightness: 30%)

main
  .container
    padding-top: 6rem

a
  color: colors.$color1
  text-decoration: none

  &:hover
    color: scale-color(colors.$color1, $lightness: -10%)

h1, h2, h3, h4
  font-family: fonts.$header
  margin-bottom: 1rem
  line-height: 1.2
  font-weight: 600

h1
  font-size: 3rem
  color: colors.$color5
  @include medium-max
    font-size: 2rem

p
  margin-bottom: 1rem

.h-100
  height: 100% !important

.d-flex
  display: flex

.container
  width: 100%
  padding-left: 1rem
  padding-right: 1rem
  margin-left: auto
  margin-right: auto
  box-sizing: border-box
  @include small
    max-width: 540px
  @include medium
    max-width: 720px
  @include large
    max-width: 960px
  @include x-large
    max-width: 1140px

// navbar
.navbar
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  background-color: transparentize(colors.$color3, .05)
  z-index: 100
  position: fixed
  top: 0
  right: 0
  left: 0
  padding: 1rem 2rem
  @include medium-max
    justify-content: space-between
    flex-wrap: wrap
    align-items: baseline
  &-toggle
    border: none
    background-color: transparent
    @include medium
      display: none
    &:focus
      outline-style: none
  &-toggle-icon
    width: 48px
    height: 48px
    &:hover
      filter: brightness(.8)
  &-collapse
    display: block
    flex-basis: 100%
    flex-grow: 1
    @include medium-max
      display: none

.nav
  display: flex
  flex-direction: row
  font-family: fonts.$header
  font-size: 1.4rem
  @include medium-max
    flex-direction: column
  &-link
    color: colors.$color5
    @include medium
      padding-left: .5rem
  &-link:hover
    color: scale-color(colors.$color5, $lightness: -30%)

  .active
    color: colors.$color4

  .active:hover
    color: colors.$color5

.show
  display: block !important

.brand
  height: 48px
  padding-right: .5rem
  &:hover
    filter: brightness(.8)
  img
    width: 48px
    height: 48px

.page-heading
  padding-top: .5rem
  @include medium
    padding-top: 2rem

.lead
  font-size: 1.4rem
  font-family: fonts.$lead

.footer
  margin-top: auto
  padding-top: 8rem
  padding-bottom: 4rem
  background-image: linear-gradient(colors.$color3, colors.$color5)

.mute
  color: transparentize(colors.$color2, 0.2)

.small
  font-size: 1rem

.invert
  filter: invert(1)

.list
  padding-left: 0
  margin-bottom: 1.2rem

.bubbles
  height: 8rem
  float: right
  margin-top: -2rem
  @include medium-max
    height: 7rem
    margin-top: -1rem

.bubbles:hover
  filter: brightness(3.5) invert(.3)
  opacity: .4

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0
