@use 'colors'
@use 'fonts'

@mixin small
  @media (min-width: 576px)
    @content

@mixin medium
  @media (min-width: 768px)
    @content

@mixin large
  @media (min-width: 992px)
    @content

@mixin x-large
  @media (min-width: 1200px)
    @content

html
  font-size: 62.5%

body
  flex-direction: column
  flex-wrap: nowrap
  background-color: colors.$color3
  font-family: fonts.$body
  font-size: 1.8rem
  line-height: 1.5
  color: lighten(colors.$color1, 10%)

main
  .container
    padding: 72px 0

a
  color: lighten(colors.$color1, 5%)
  text-decoration: none

  &:hover
    color: darken(colors.$color1, 5%)

h1, h2, h3, h4
  font-family: fonts.$header
  margin-bottom: 1rem
  line-height: 1.2
  font-weight: 600

h1
  font-size: 4rem
  color: colors.$color5

p
  margin-bottom: 1.2rem

.h-100
  height: 100% !important

.d-flex
  display: flex

.container
  width: 100%
  padding-left: 1rem
  padding-right: 1rem
  margin-left: auto
  margin-right: auto
  box-sizing: border-box

  @include small
    max-width: 540px

  @include medium
    max-width: 720px

  @include large
    max-width: 960px

  @include x-large
    max-width: 1140px

.navbar
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: flex-start
  background-color: colors.$color3
  min-height: 5rem
  padding: .5rem 1rem
  position: fixed
  top: 0
  right: 0
  left: 0

.nav
  display: flex
  flex-direction: row
  font-family: fonts.$header
  font-size: 2rem

  &-link
    color: colors.$color1
    padding: .5rem 1rem

  &-link:hover
    color: lighten(colors.$color1, 5%)

.brand
  padding: .5rem 1rem 0rem

  img
    width: 32px
    height: 32px

.lead
  font-size: 2rem
  font-family: fonts.$lead

.footer
  margin-top: auto
  padding-top: 8rem
  padding-bottom: 4rem
  background-image: linear-gradient(colors.$color3, colors.$color5)

.mute
  color: transparentize(colors.$color2, 0.2)

.small
  font-size: 1.4rem

.invert
  filter: invert(1)

.list
  padding-left: 0
  margin-bottom: 1.2rem
